@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
	background-color: rgb(255, 255, 255) ;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font-family: 'Abril Fatface';
}

h1{
	font-size: 5.4rem;
	color: rgb(255, 255, 255);
	margin-bottom: 5rem;
}
.container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 80rem;
	margin: 0 auto; 
} 
.flex-column{
	display: flex;
	flex-direction: column;
}

.flex-center{
	justify-content: center;
	align-items: center;
}

.btn{
	font-size: 2rem;
	padding: 2rem 0;
	width: 20rem;
	text-align: center;
	margin-bottom: 1rem;
	text-decoration: none;
	color: rgb(28,26,26);
	background: linear-gradient(90deg,rgb(237, 204, 185) 0%, rgb(240, 239, 235) 100%);
	border-radius: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn:hover{
	box-shadow: 0 0.4rem 1.4rem 0 rgb(149, 132, 115);
}  

.fa-home{
	margin-left: 1rem;
	font-size: 2rem;
	color: rgb(163, 147, 135);
}

.title {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgb(243, 219, 133);
	text-align: center;
  }
  #titleImg{
	  border-radius: 50%;
	  width: 1500px;
	  height: 1200px;
  }
  #Finalbtn{
	font-size: 2rem;
	padding: 2rem;
	width: 20rem;
	text-align: center;
	margin-top: 1rem;
	text-decoration: none;
	color:rgb(0, 0, 0);
	background: linear-gradient(90deg,rgb(237, 204, 185) 0%, rgb(240, 239, 235) 100%);
	border-radius: 4px;
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
}


#finalMessage{
	font-size: 3rem;
	margin-bottom: 3rem;
}
